body.dinet_page_dinet_monitoring_page main,
body.toplevel_page_dinet_admin_plugin main,
body.toplevel_page_dinet_plugin main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.dinet_page_title {
    font-size: 2rem;
    font-weight: 400;
}

.dinet_citation {
    font-size: 1rem;
    color: #777;
}
body.dinet_page_dinet_monitoring_page section,
body.dinet_page_dinet_admin_page section,
body.dinet_page_dinet_patient_record section,
body.toplevel_page_dinet_admin_plugin section,
body.toplevel_page_dinet_plugin section,
body.plugins_page_dinet_add_food main.dinet_add_food {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    padding: 0 1rem 1rem 1rem;
    margin-right: 1rem;
}

body.dinet_page_dinet_admin_page section header h2,
body.dinet_page_dinet_patient_record section header h2,
body.dinet_page_dinet_monitoring_page section header h2,
body.toplevel_page_dinet_admin_plugin section header h2,
body.toplevel_page_dinet_plugin section header h2 {
    font-weight: 400;
    font-size: 1.3rem;
}

.dinet_add_eaten_food {
    width: 100%;
    margin-top: 1rem;
}

.dinet_add_eaten_food table {
    width: 100%;
}

.dinet_add_eaten_food th,
.dinet_add_eaten_food tr.food_item {
    width: 30%;
    text-align: left;
}

.dinet_add_eaten_food tr.food_item input.quantity {
    margin-right: 0;
}

.dinet_add_eaten_food tr.food_item input.add_input {
    color: #0073aa;
    font-size: 13px;
    font-weight: 600;
    background: #f7f7f7;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid #ccc;
    margin-left: -4px;
    /*border-left: 0;*/
    cursor: pointer;
    transition: 0.3s;
    height: 28px;
    /*width: 28px;*/
}

#table_food input{
    height: 28px;
}

.dinet_add_eaten_food tr.food_item input.add_input:hover {
    color: #fff;
    background: #0073aa;
    border: 1px solid #006291;
}

.dinet_add_eaten_food .pagination_button {
    color: #0073aa;
    font-size: 13px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    background: #f7f7f7;
    border-radius: 2px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3s;
    width: 100px;
    margin-top: 1rem;
}

.dinet_add_eaten_food .pagination_button:hover {
    color: #fff;
    background: #0073aa;
    border: 1px solid #006291;
}

.add_info{
    text-align: center;
}

.add_info div input{
    width: calc(100% - 55px);
}

.add_info label{
    min-width: 50px;
    margin: 1rem 0;
    text-align: left;
    display: inline-block;
}

.add_info .save_info:hover{
    color: #fff;
    background: #0073aa;
    border: 1px solid #006291;
}

.add_info .save_info{
    color: #0073aa;
    font-size: 13px;
    font-weight: 600;
    background: #f7f7f7;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 1rem auto;
    transition: 0.3s;
}

.toast_add_eaten_food {
    width: 100%;
    position: fixed;
    margin-left: -20px;
    bottom: calc(50% - 50px);
    color: #F0F0F0;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.dinet_chart{
    width: 500px;
}

.statChart{
    width: 500px;
}

.search_bar{
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 50%;
}

.dinet_add_new_food{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dinet_add_new_food > div {
    margin-right: 5rem;
}

.dinet_info_add_new_food label{
    display: inline-block;
    min-width: 280px;
}

.dinet_info_add_new_food input{
    display: inline-block;
    min-width: 212px;
}

.dinet_last_food{
    flex: 1;
}

.btn-delete{
    background: rgba(255, 0, 0, 0);
    border: none;
    color: red;
    cursor: pointer;
}

.patient_list header h2{
    display: inline-block;
}

.patient_list header a{
    display: inline-block;
    margin-left: 2rem;
}

.patient_record{
    margin-bottom: 1rem;
    width: 550px;
}

.patient_record_form_group label{
    width: 100px;
    display: inline-block;
}

.patient_record_form_group textarea,
.patient_record_form_group input{
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 400px;
}

.patient_consultation{
    margin-bottom: 1rem;
    flex: 1;
}

.goal{
    margin-bottom: 1rem;
}

.goal input[type="text"]{
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.goal input[type="button"]{
    height:35px;
}

.inputError{
    color: red !important;
    border-color: red !important;
    box-shadow: 0 2px 5px rgba(255, 0, 0, .4) !important;
}

.table_last_eaten_food_overflow{
    border: 1px solid #eee;
    max-height: calc(36px * 7);
    overflow-y: scroll;
}

.dinet_last_food_table{
    border: none !important;
}


/* Responsive table ajout de consommation */
@media all and (max-width: 782px) {

    .table_food,
    .table_food thead,
    .table_food tbody,
    .table_food th,
    .table_food td,
    .table_food tr {
        display: block;
    }

    .table_food thead {
        display: none;
    }

    .table_food tr.food_item {
        border: 1px solid #ccc;
        width: 100%;
    }

    .table_food td {
        border: none;
    }

    .table_food .food_description{
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }

    .table_food .quantity{
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    }

    .table_food input,.table_food select{
        width: 100% !important;
    }
}

@media all and (max-width: 544px){

    .citation{
        display: none;
    }

    body.dinet_page_dinet_monitoring_page section,
    body.toplevel_page_dinet_plugin section{
        width: 100%;
    }

}

@media all and (max-width: 782px){

    .dinet_add_eaten_food tr.food_item input.add_input{
        padding-top: 12px;
        padding-bottom: 26px;
    }

    .search_bar{
        width: 100%;
    }
}

@media all and (max-width: 1235px){
    .statChart{
        width: 100%;
    }

    .dinet_chart{
        width: 100%;
    }

    .IMC {
        margin-top: 1rem;
        width: calc(50% - 2rem - 20px);
    }

    .add_info{
        margin-top: 1rem;
        width: calc(50% - 2rem - 20px);

    }

    .quantity{
        width: 70%;
    }
}
